:root {
    --xl: 12rem;
    --lg: 3.3rem;
    --md: 1.5rem;
    --sm: 1rem;
    --tagline: 2.7rem;
    --h4: 3rem;
    --blacks: #0c0c0c;
    --whites: #efefef;
    --purple: #100420;
    --ash: #716F6F;

  }
  * {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    text-decoration: none;
  }
  .container{
    width: 100%;
    height: 100%;
  }
  @font-face {
    font-family: Lato-Bold;
    src: url(/assets/fonts/Lato-Bold.ttf);
  }
  @font-face {
    font-family: Lato-Regular;
    src: url(/assets/fonts/Lato-Regular.ttf);
  }
  .nav-content{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    
  }
  .nav-content a {
    text-decoration: none;
    padding: 1rem;
    color: var(--blacks);
  }
  .logo img{
    width: 10rem;
  }
  .nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .logo{
    display: flex;
    justify-content: flex-start;
  }
  .nav-content a{
    font-family: "Lato-Regular";
  }
   .links a:hover{
  color:rgb(184, 177, 177) ;
}
  .donate{
    padding: 1rem 2rem;
    background-color: var(--blacks);
    border-radius: 0.3rem;
  }
   .donate:hover{
    background-color: var(--whites);
    transition: 0.3s;
  }
  .donate a{
    color: var(--whites);
  }
   .donate a:hover{
    color: var(--blacks);
    transition: 0.3s;
  }
  /*image slider*/
  
  .slider{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
  }
  .list img{
    width: 100rem;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  .buttons{
    position: absolute;
    top: 85%;
    left: 85%;
    width: 10%;
    display: flex;
    justify-content: space-between;
  }
  .buttons button{
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     background-color: var(--whites);
     color: var(--blacks);
     border: none;
     font-family: "Lato-Regular";
     font-weight: bold;
  }
  .dots{
    position: absolute;
    bottom: 1rem;
    color: var(--whites);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .dots li{
    list-style: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--whites);
    margin: 1rem;
    border-radius: 1rem;
  }
  .dots li.active{
    width: 2rem;
  } 
  /* second section */
.second {
    width: 100%;
    height: 60vh;
    background-image: url(/assets/photos/Frame\ 3.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .text-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-top h5 {
    color: var(--blacks);
    font-family: "Lato-Regular";
    font-size: var(--sm);
    font-weight: 400;
  }
  .text-top p {
    color: var(--blacks);
    font-family: "Lato-Regular";
    font-size: var(--md);
  }
  .text-bottom{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .text-bottom p {
    color: var(--blacks);
    font-family: "Lato-Regular";
    font-size: var(--md);
    padding-top: 2rem;
    width: 40rem;
  }
  .text-bottom a {
    color: var(--whites);
    padding-top: 3rem;
    font-family: "Lato-Regular";
    text-decoration: none;
    font-size: 1rem;
  }
  .text-bottom a:hover {
    color: var(--blacks);
  }
  .b {
    background-color: var(--blacks);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: .3s;
  }
  .b:hover{
    background-color: var(--whites);
  }
  /*third section*/
  .top-third{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .top-third p{
    font-family: "Lato-Regular";
    font-size: 1rem;
    color: var(--whites);
    text-align: center;
  }
  .top-third h4{
    font-family: "Lato-Regular";
    font-size: 1.5rem;
    font-weight: 400;
    width: 50rem;
    color: var(--whites);
    text-align: center;
  }
  .third {
    width: 100%;
    height: auto;
    background-image: url(/assets/photos/Frame\ 3.png);
    background-position: center;
    background-size: cover;
    background-color: var(--purple);
    background-blend-mode: soft-light;
  }
  .content-third{
    width: 100%;
    height: auto;
  }
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
  }
 .card-img img{
  width: 27rem;
  height: 25rem;
  padding: 2rem ;
 }
 .see-programs{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
 }
 .see-programs a:hover{
background-color:var(--blacks) ;
color: var(--whites);
transition: 0.3s;
 }
 .see-programs a{
  text-decoration: none;
  font-family: "Lato-Regular";
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--whites);
  color: var(--blacks);
  border-radius: 0.3rem;
 }
 .fourth{
  background-image: url(/assets/photos/Frame\ 3.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}
.text-top2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.text-top2 h5 {
  color: var(--blacks);
  font-family: "Lato-Regular";
  font-size: 2rem;
  font-weight: 400;
}
.text-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
}
.img {
  overflow: hidden;
  white-space: nowrap;
}
.img-slide img{
  height: 40rem;
}
.img-slide{
  display: inline-block;
  animation: 40s slide linear infinite;
}
.img:hover .img-slide{
  animation-play-state: paused;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text p{
    color: var(--blacks);
    font-family: "Lato-Regular";
    font-size: var(--md);
    padding-top: 2rem;
    width: 40rem;
}
.volu{
  padding-top: 5rem;
}
.volu a{
  text-decoration: none;
  font-family: "Lato-Regular";
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: var(--blacks);
  color: var(--whites);
  border-radius: 0.5rem;
}
.volu a:hover{
  background-color: var(--whites);
  color: var(--blacks);
  transition: 0.3s;
}
.marquee h1 {
  font-family: "Lato-Bold";
  font-size: 2rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}.is--footbar {
  background-color: var(--blacks);
  width: 100%;
  
}
.wrapp{
  display: flex;
  flex-direction: column;
}
.top{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  width: 100%;
  height: 40vh;
}
.pic img{
width: 100%;
height: 35vh;
    object-position: center;
    object-fit: cover;
}
.f-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.f-logo img{
  width: 10rem;
}
.f-logo p{
  color: var(--whites);
  font-size: var(--sm);
  font-family: "Lato-Bold";
  font-weight: 400;
  width: 7rem;
}
.useful{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:0.5rem;
 padding-top: var(--sm);
 padding-bottom: var(--md);
 height: auto;
}
.down{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.useful h4{
  color: var(--whites);
  font-family: "Lato-Bold";
  font-size: var(--md);
  font-weight: 400;
  padding-bottom: var(--md);
}
.useful a{
  color: var(--whites);
  font-size: var(--sm);
  font-family:"Lato-Regular" ;
}
.useful p{
  color: var(--whites);
  font-size: var(--sm);
  font-family: "Lato-Regular";
}
.hor{
  padding:0rem 4rem;
}
.bottom p{
  color: var(--whites);
  font-family: "Lato-Bold";
  font-size: var(--sm);
  font-weight: 400;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem 4rem;
}
/*Contact us page*/
.content-con{
  display: flex;
  flex-direction:row ;
  justify-content: center;
}
.left{
  margin-right: 4rem;
}
.con-head{
 padding-left: 8rem;
 padding-top: 2rem; 
}
.con-head h1{
  font-family: "Lato-Bold";
  font-size: 3rem;
  font-weight: 400;
}
.con-para p{
  font-family: "Lato-Regular";
  font-size: 1.5rem;
  width: 25rem;
}
.contact-text{
  padding-top: 1rem;
}

.contact-info p{
 font-family: "Lato-Regular";
 font-size: 1rem;
 color: var(--ash);
}
/* form  section*/
.form-group{
  display: grid;
  grid-gap: 0.5rem;
  white-space: nowrap;
}
.form-group input{
  border: none;
  border-bottom: 0.1rem solid rgb(10, 10, 10);
  font-size: 1rem;
  font-family: "Lato-Regular";
  height: 2rem;
}
.send-m{
  padding-top: 2rem;
}
.send-m a{
  padding: 1rem 18rem;
  background-color: var(--blacks);
  color: var(--whites);
  font-family: "Lato-Regular";
  border-radius: 0.5rem;
}
.send-m a:hover{
  background-color: var(--whites);
  color: var(--blacks);
  transition: 0.3s;
}
.right{
  margin-left: 4rem;
}
.info-top h4{
  font-family: "Lato-Regular";
  font-size: 1rem;
  font-weight: 400;
}
.info-mid{
  padding-top: 1.5rem;
}
.info-mid h4{
  font-family: "Lato-Regular";
  font-size: 1rem;
  font-weight: 400;
}
.info-last{
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
.info-last a{
  font-family: "Lato-Regular";
  font-size: 1rem;
  font-weight: 400;
  color: var(--blacks)
}
.info-contect{
  padding-top: 2rem;
}
.contact{
  background-image: url(/assets/photos/Frame\ 3.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
}
/* Our programs */
.wrapx{
  padding: 4rem;
}
.wrapx-text h1{
  font-family: "Lato-Bold";
  font-size: 2rem;
  font-weight: 300;
}
.wrapx-text p {
  font-family: "Lato-Regular";
  font-size: 1rem;
  width: 25rem;
}
.img-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.imgage-pro{
width: 100%;
padding-left: 2rem;
display: flex;
justify-content: center;
}
.image-pro img{
  width: 35rem;
}
.text-pro{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
.text-pro h4{
  font-family: "Lato-Bold";
  font-size: 2rem;
}
.text-pro p{
  font-family: "Lato-Regular";
  font-size: 1rem;
}