::placeholder {
  color: #14141465;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-wrap>img {
  width: 3rem;
}

/*swiper styles*/
.swiper {
  width: 100%;
  height: 100%;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100%;
}

.nav-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu a {
  color: #141414;
  flex-shrink: 0;
}

.nav-cta-wrap {
  display: flex;
  justify-content: flex-end;
}

.nav-cta {
  display: flex;
  justify-content: center;
}

.cta-link,
.linkbtn {
  color: #f5f5f5;
  background-color: #141414;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: fit-content;
  border-radius: 7px;
}

.diff-col {
  background-color: #f5f5f5;
  color: #141414;
}

.landing {
  width: 100%;
  height: 90vh;
  background-color: #141414;
  padding-bottom: 2rem;
}

.slider-container {
  height: 100%;
}

.slider-content-wrap {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.slider-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2.5fr 0.5fr;
  align-items: end;
  justify-content: space-between;
}

.slider-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider-text-wrap h1 {
  color: #f5f5f5;
  font-size: 2rem;
}

.slider-text-wrap p {
  color: #f5f5f5;
}

.slider-controls-wrap {
  display: flex;
  justify-content: space-between;
}

.slider-controls {
  background-color: #f5f5f5;
  height: 3rem;
  width: 3rem;
  border-radius: 200px;
}

.welcome-abt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(/assets/photos/Frame3.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.abt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.tagline-abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.tagline-abt p {
  padding-bottom: 0.5rem;
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abt-content p {
  text-align: center;
}

.tagline-abt h2 {
  font-size: 1.55rem;
  font-weight: 400;
}

.link-tbn-wrap {
  padding-top: 2.5rem;
}

.programs-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: black;
  background-image: url(/assets/photos/Frame2.png);
  background-size: contain;
}

.diff p,
.diff h2 {
  color: #f5f5f5 !important;
}

.diff h2 {
  text-align: center;
  font-size: 1.2rem !important;
}

.diff {
  max-width: 500px;
}

.programs-grid-wrap {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.col-3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 4rem;
  justify-content: center;
  justify-items: center;
}

.card {
  width: 20rem;
  height: 20rem;
  background-color: #f5f5f5;
  overflow: hidden;
}

.card>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.become-a-volunteer {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/photos/Frame3.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
}

.img-slide-wrap {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: all;
  padding-right: 4rem;
}

.marquee-slide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: 100s slide linear infinite;
}

.reverse {
  animation-direction: reverse;
}

.marquee-card {
  width: 15rem;
  height: 20rem;
  display: flex;
  gap: 1rem;
}

.marquee-card>img {
  width: 100%;
  object-fit: cover;
}

.marquee-slide:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.header-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 2;
  position: relative;
}

.header-wrapper>h2 {
  font-weight: 500;
}

.right img {
  height: 30rem;
  width: 25rem;
  background-color: #141414;
  overflow: hidden;
  white-space: nowrap;
}

.become-wrap {
  display: flex;
  justify-content: center;
  height: 100%;
}

.col-2-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

footer {
  width: 100%;
}

.footer-top {
  width: 100%;
  height: 20rem;
}

.footer-grid-2 {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.f-grid-2-left {
  background-image: url(assets/photos/Frame2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #141414;
}

.f-grid-2-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  border: 1px solid #f5f5f5;
}
.f-grid-2-right p{
  color: #f5f5f5;
  width: 8rem;
  text-align: center;
}
.f-grid-2-right img{
  width: 10rem;
  height: 10rem;
}
.f-grid-2-right{
  display: flex;
  justify-content: center;
}
.footer-bottom {
  width: 100%;
  height: 20rem;
  
}
.f-bottom-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.f-bottom-items h4{
  color: #f5f5f5;
  font-size: x-large;
  font-weight: 400;
  padding-top: 2rem;
}
.f-bottom-items p{
  color: #f5f5f5;
  line-height: 2rem;
}
.useful{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-bottom-items a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: var(1.5rem);
}

.f-bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.f-bottom-grid>div {
  background-color: #141414;
  border: 1px solid #f5f5f5;
}
.hor{
  padding:0rem 4rem;
}
.bottom p{
  color:#f5f5f5;
  font-family: "inter";
  font-size: var(--sm);
  font-weight: 400;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem 4rem;
  background-color: #141414;
  border: 1px solid #f5f5f5;
}


.contact-us {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.c-wrap-left>div>h1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.c-wrap-left>div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.contact-wrap {
  width: 80%;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.c-wrap-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.c-wrap-left,
.c-wrap-right {
  width: 100%;
}

.form {
  display: grid;
  grid-template-rows: 1rw 1rw 1rw 1rw;
  gap: 2rem;
  width: 80%;
}

#submit {
  color: #f5f5f5;
  background-color: #141414;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  border: none;
  border-radius: 7px;
}

#name,
#message,
#mail {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid #141414;
  outline: none;
}

.item-title {
  color: #14141465;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.contact-info>p {
  font-size: 1.2rem;
}

.item-1,
.item-2 {
  padding-bottom: 2rem;
}

.item-2>p:nth-child(2) {
  padding-bottom: 1rem;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer-item {
  width: 1px;
  height: 80%;
  background-color: #141414;
}

.our-programs {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.programs-header-banner {
  padding-bottom: 3rem;
}

.programs-header-banner>h1 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.program-flex {
  padding-top: 3rem;
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.program-flex>.flex-img {
  width: 100%;
  height: 25rem;
  background-color: #141414;
  background-image: url(assets/photos/Rectangle\ 25.png);
}

.program-flex>.flex-text {
  width: 80%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
}

.program-flex>.flex-text>h3 {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.reversed {
  flex-direction: row-reverse;
}


/*Responsive Breakpoints*/
/* 2xl */
@media (max-width: 2440px) {
  .nav-cta-wrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .diff {
    max-width: 800px;
  }
}

/* Contact us page*/
@media (max-width: 1154px) {
  .nav-wrap {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.5fr;
    align-items: center;
  }

  .col-3-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 4.5rem;
    justify-content: center;
    justify-items: center;
  }
}

@media (max-width: 975px) {
  .menu {
    gap: 1rem;
  }

  .marquee-card {
    width: 10rem;
    height: 15rem;
    display: flex
;
    gap: 1rem;
}
  .c-wrap-left>div>h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .nav-cta-wrap {
    display: flex;
    justify-content: flex-end;
  }
  .program-flex>.flex-img {
    width: 100%;
    height: 20rem;
    background-color: #141414;
    background-image: url(assets/photos/Rectangle\ 25.png);
  }
}

@media (max-width: 923px) {
  .menu a {
    font-size: 0.9rem;
  }
}

@media (max-width: 847px) {
  /* i will work on the navgation*/
}

/* xl */
@media (max-width: 1288px) {}

/* lg */
@media (max-width: 1024px) {
  .marquee-card {
    width: 10rem;
    height: 15rem;
    display: flex
;
}

/* md */
@media (max-width: 768px) {
  
.program-flex {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.program-flex>.flex-img {
  width: 100%;
  height: 20rem;
  background-color: #141414;
  background-image: url(assets/photos/Rectangle\ 25.png);
}
}


/* sm */
@media (max-width: 640px) {}

@media (max-width: 617px) {}

@media (max-width: 600px) {}

@media (max-width: 518px) {}

@media (max-width: 482px) {}

/* xs */
@media (max-width: 475px) {}

@media (max-width: 390px) {}

@media (max-width: 375px) {}