:root {
  --xl: 12rem;
  --lg: 3.3rem;
  --md: 1.5rem;
  --sm: 1rem;
  --tagline: 2.7rem;
  --h4: 3rem;
  --blacks: #0c0c0c;
  --whites: #efefef;
}
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
@font-face {
  font-family: Lato-Bold;
  src: url(/assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(/assets/fonts/Lato-Regular.ttf);
}
.container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.first{
 background-image:url(/assets/photos/Frame\ 2.png);
 background-color: var(--blacks);
 background-size: cover;
 background-position: center;
 filter: brightness(-2);
}
a {
  text-decoration: none;
}
.bar {
  position: absolute;
  width: 100%;
}
.content {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.3fr;
  align-items: center;
  padding-top: 1.5rem;
}
.logo h1 {
  color: var(--whites);
  font-family: "Lato-Bold";
  font-size: var(--sm);
}
.link a {
  font-family: "Lato-Regular";
  color: var(--whites);
  font-size: var(--sm);
  padding: 1rem;
  transition: .3s;
}
.link a:hover{
  color:rgb(59, 56, 56) ;
}
.button{
    display: flex;
  align-items: center;
  justify-content: flex-end;
}
.button a {
  color: var(--blacks);
  font-family: "Lato-Regular";
  font-size: var(--sm);
  transition: 0.20s;
}
.a:hover{
  background-color: rgb(197, 204, 204);
}
.a {
  background-color: var(--whites);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}
.is--hero {
  width: 100%;
  padding-bottom: 2rem;
}
.hero-text h4 {
  font-family: "Lato-Regular";
  font-size: var(--h4);
  color: var(--whites);
  font-weight: 400;
  width: 55rem;
}
.hero-text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 10rem;
}
.image {
  overflow: hidden;
  padding-top: var(--lg);
  white-space: nowrap;
}
.image-slide{
  display: inline-block;
  animation: 50s slide ease-in-out infinite; 
}
.image:hover .image-slide{
  animation-play-state: paused;
}
.image-slide img{
  height: 40rem;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.second {
  width: 100%;
  background-image: url(/assets/photos/Frame\ 3.png);
  background-position: center;
  background-size: cover;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.text-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-top h5 {
  color: var(--blacks);
  font-family: "Lato-Regular";
  font-size: var(--sm);
  font-weight: 400;
}
.text-top p {
  color: var(--blacks);
  font-family: "Lato-Regular";
  font-size: var(--md);
}
.text-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-bottom p {
  color: var(--blacks);
  font-family: "Lato-Regular";
  font-size: var(--md);
  padding-top: 2rem;
  width: 40rem;
}
.text-bottom a {
  color: var(--whites);
  padding-top: 3rem;
  font-family: "Lato-Regular";
}
.b {
  background-color: var(--blacks);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  transition: .3s;
}
.b:hover{
  background-color: rgb(59, 56, 56);
}
.wraper{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.third{
  background-color: var(--blacks);
  background-image: url(/assets/photos/Frame\ 3.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}
.text-top2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.text-top2 h5 {
  color: var(--whites);
  font-family: "Lato-Regular";
  font-size: 2rem;
  font-weight: 400;
}
.text-top2 p {
    color: var(--whites);
    font-family: "Lato-Regular";
    font-size: var(--sm);
    font-style: italic;
}
.text-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
}
.img {
  overflow: hidden;
  white-space: nowrap;
}
.img-slide img{
  height: 40rem;
}
.img-slide{
  display: inline-block;
  animation: 40s slide linear infinite;
}
.img:hover .img-slide{
  animation-play-state: paused;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text p{
    color: var(--whites);
    font-family: "Lato-Regular";
    font-size: var(--md);
    padding-top: 2rem;
    width: 40rem;
}
.marquee h1 {
  font-family: "Lato-Bold";
  font-size: 2rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:3rem ;
}
.wrapper a{
  transition: .3s;
}
.wrapper p {
  font-family: "Lato-Regular";
  font-size: var(--md);
  width: 40rem;
}
.fourth {
  padding-bottom: 4rem;
}
.marquee {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: var(--md);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.marquee-content{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: var(--md);
  animation: marquee 120s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.wrapper a {
  color: var(--whites);
  font-family: "Lato-Regular";
}
.is--footbar {
  background-color: var(--blacks);
  width: 100%;
  
}
.wrapp{
  display: flex;
  flex-direction: column;
}
.top{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  width: 100%;
  height: 40%;
}
.pic{
  background-image: url(/assets/photos/Frame\ 2.png);
  background-size: cover;
}
.f-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.f-logo img{
  width: 10rem;
}
.f-logo p{
  color: var(--whites);
  font-size: var(--sm);
  font-family: "Lato-Bold";
  font-weight: 400;
  width: 7rem;
}
.useful{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:0.5rem;
 padding-top: var(--sm);
 padding-bottom: var(--md);
 height: auto;
}
.down{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.useful h4{
  color: var(--whites);
  font-family: "Lato-Bold";
  font-size: var(--md);
  font-weight: 400;
  padding-bottom: var(--md);
}
.useful a{
  color: var(--whites);
  font-size: var(--sm);
  font-family:"Lato-Regular" ;
}
.useful p{
  color: var(--whites);
  font-size: var(--sm);
  font-family: "Lato-Regular";
}
.hor{
  padding:0rem 4rem;
}
.bottom p{
  color: var(--whites);
  font-family: "Lato-Bold";
  font-size: var(--sm);
  font-weight: 400;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem 4rem;
}